<div class="activities">
    <div class="activities__header">
        <h2>Recent Activities</h2>
    </div>
    {% for comment in comments %}
    <div class="activities__box">
        <div class="activities__boxHeader roomListRoom__header">
            <a href="{% url 'profile' comment.user.id%}" class="roomListRoom__author">
                <div class="avatar avatar--small">
                    <img src="https://randomuser.me/api/portraits/women/11.jpg" />
                </div>
                <p>
                    @{{comment.user}}
                    <span> {{comment.created|timesince}} ago</span>
                </p>
            </a>
            
            {% if comment.user == request.user %}
            <div class="roomListRoom__actions">
                <a href="{% url 'delete-comment' comment.id %}">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <title>remove</title>
                        <path
                            d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z">
                        </path>
                    </svg>
                </a>
            </div>
            {% endif %}
        </div>
        <div class="activities__boxContent">
            <p>replied to post “<a href="{% url 'document' comment.document.id %}">{{comment.document}}</a>”</p>
            <div class="activities__boxRoomContent">
               {{comment}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>




{% comment %} <div>
    <small><a href="{% url 'profile' comment.user.id%}">@{{comment.user}}</a> {{comment.created|timesince}}</small>
    <small>replied to "{{comment.document}}"</small>
    <p>{{comment}}</p>
   
    <a href="{% url 'delete-comment' comment.id %}">Delete</a>
    {% endif %}
    <hr>
</div>
{% endfor %} {% endcomment %}